.expense {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'date actions'
        'description actions'
        'tags tags'
        'amount amount'
        'notes notes';
    // gap: 0.375em;
    align-items: center;

    @media screen and (min-width: 580px) {
        gap: 0.5em;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            'date date actions'
            'description tags amount'
            'notes notes notes';
    }

    .description {
        grid-area: description;
        font-weight: 600;
    }

    .tags {
        grid-area: tags;
        justify-self: start;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;

        :global {
            .ant-tag {
                margin: 0 !important;
            }
        }
    }

    .actions {
        grid-area: actions;
        justify-self: end;
    }

    .date {
        font-size: 0.75rem;
        color: #acacac;
        grid-area: date;
        align-self: end;
    }

    .amount {
        grid-area: amount;
        color: red;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .notes {
        grid-area: notes;
        color: gray;
    }
}
