.container {
    display: grid;
    grid-template-columns: 1fr 1fr 12em 6em;
    align-items: center;
    grid-template-areas:
        "description tags date amount"
        "notes notes notes notes";
    column-gap: 3em;

    .description {
        grid-area: description;
        font-weight: 600;
    }

    .tags {
        grid-area: tags;
    }

    .date {
        .dayName {
            color: gray;
        }
    }

    .amount {
        grid-area: amount;
        color: red;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .notes {
        grid-area: notes;
    }
}
