.expense {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas:
        'date date actions'
        'description tags tags'
        'amount amount amount'
        'notes notes notes';
    row-gap: 0.375em;
    column-gap: 1em;
    align-items: center;

    @media screen and (min-width: 580px) {
        row-gap: 0.5em;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            'date date actions'
            'description tags amount'
            'notes notes notes';
    }

    .description {
        grid-area: description;
        font-weight: 500;
        align-self: start;
    }

    .tags {
        grid-area: tags;
        display: flex;
        flex-wrap: wrap;
        gap: 0.6125em;
        align-self: start;

        margin-top: 5px;
        @media screen and (min-width: 580px) {
            margin-top: 3px;
        }

        :global {
            .ant-tag {
                margin: 0 !important;
                line-height: 1.2 !important;
                font-size: x-small;

                @media screen and (min-width: 580px) {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .actions {
        grid-area: actions;
        justify-self: end;
    }

    .date {
        font-size: 0.75rem;
        color: #acacac;
        grid-area: date;
        align-self: end;
    }

    .amount {
        grid-area: amount;
        color: rgb(229 79 79);
        font-weight: 500;
        font-size: 1.125rem;
    }

    .notes {
        grid-area: notes;
        color: gray;
    }
}
