* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
    @media screen and (min-width: 580px) {
        font-size: 16px;
    }
}

body {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// Ant Design Customization
.ant-card {
    .ant-card-body {
        height: 100%;
    }
    .ant-card-head,
    .ant-card-body {
        padding: 0.75em !important;
    }

    @media screen and (min-width: 580px) {
        .ant-card-head,
        .ant-card-body {
            padding: 1em 1.25em !important;
        }
    }
}
