.header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;

    .auth {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}
